*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-display: swap;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  color: $color-black;
  background: $background-gradient-light;
}

.container {
  padding: 0 80px;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;

  @include media("<=desktop") {
    padding: 60px 30px;
  }

  @include media("<=tablet") {
    padding: 0 16px;
  }
}
